body,html{
	font-size: 16px;
}

.top-nav {
	max-width: 1320px;
	padding: 2rem 0.5rem;
}

.top-nav a{
	text-decoration: none;
}

.listing-col a{
	text-decoration: none;
	color: inherit;
}

.listing-col .img-wrap {
	width: 100%;
	aspect-ratio: 3 / 2;
	overflow: hidden;
	position: relative;
}

.listing-col .img-wrap img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}

.listing-col .img-wrap .price {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.4);
	color: #fff;
	font-weight: 600;
	text-align: center;
	line-height: 2.25em;
	font-size: 1.25rem;
}

.gallery {
	display: flex;
	column-gap: 1rem;
}

.gallery a{
	display: flex;
}
.gallery img {
	width: 100%;
	aspect-ratio: 3 / 2;
	object-fit: cover;
	border-radius: 6px;
	
	object-position: center center;
}

@media(max-width:767px) {
	body,html{
		font-size: 12px;
	}
}
@media(max-width:1024px) {
	body,html{
		font-size: 10px;
	}
}